<div class="login-container">
  <h2 class="login-container__title">Login</h2>
  <div *ngIf="authError$ | async as authError">{{ authError }}</div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <div
        *ngIf="
          loginForm.controls['email'].dirty &&
          loginForm.controls['email'].invalid
        "
      >
        Invalid email
      </div>
      <label for="email" class="form-label">Email:</label>
      <input
        type="text"
        id="email"
        formControlName="email"
        class="form-input"
      />
    </div>
    <div class="form-group">
      <div
        *ngIf="
          loginForm.controls['password'].dirty &&
          loginForm.controls['password'].invalid
        "
      >
        Password required
      </div>
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-input"
      />
    </div>
    <button type="submit" class="login-btn" [disabled]="loginForm.invalid">
      Login
    </button>
    <button class="login-btn" (click)="logout()">Logout</button>
  </form>
</div>
