<div class="dashboard">
  <div class="sidebar">
    <h2 class="sidebar__title">Dashboard</h2>
    <ul class="sidebar__menu">
      <li class="sidebar__menu-item">Dashboard</li>
      <li class="sidebar__menu-item">Users</li>
      <li class="sidebar__menu-item">Posts</li>
      <li class="sidebar__menu-item">Settings</li>
      <li class="sidebar__menu-item" (click)="onClick()">Create</li>
    </ul>
  </div>
  <div class="content">
    <h2 class="content__title">Dashboard Overview</h2>
    <p class="content__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
      justo euismod, ultrices tortor non, feugiat diam.
    </p>
  </div>
</div>
